{% extends 'base.html' %}
{% load static %}
{% block head %}
    <ul>
      <div class="d-flex flex-wrap">
        {% for product in products %}
        <div class="card m-3" style="width: 18rem;">
          <img class="card-img-top" src="{{ product.image.url }}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <h6 class="card-title">{{ product.price }}</h6>
            <p class="card-text">{{ product.description }}</p>
            <a href="{% url 'edit_product' product.id %}" class="btn btn-success">Edit</a>
            <a href="{% url 'delete_product' product.id %}" class="btn btn-danger">delete</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </ul>
{% endblock %}